@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.login-form {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 40px 0;
  background-image: url(../../public/img/bg-login-form.jpg);
  background-size: 100%;
}
.form {
  position: relative;
  background: #fff;
  width: 500px;
  padding: 30px 55px;
  border-radius: 10px;
  text-align: center;
  margin-top: 80px;
}
.form::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(315deg, #e91e63, #5d02ff);
  z-index: -1;
  transform: skew(2deg, 1deg);
  border-radius: 10px;
}
.form h2 {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 39px;
}
.form .input {
  margin-top: 40px;
  text-align: left;
}
.form .input .inputBox {
  margin-top: 10px;
  width: 100%;
}
.form .input .inputBox label {
  display: block;
  color: #333333;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.form .input .inputBox input {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #ccc;
  font-size: 18px;
  border-bottom: 2px solid #d9d9d9;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 14px;
}
.form .input .inputBox input[type="submit"] {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(
    right,
    #3ec4f0,
    #f558f2,
    #00a7de,
    #f45ff6
  );
  border-radius: 25px;
  height: 50px;
  box-shadow: 0 5px 30px 0px rgb(3 216 222 / 20%);
  &:hover {
    background: -webkit-linear-gradient(
      right,
      #f558f2,
      #3ec4f0,
      #f45ff6,
      #00a7de
    );
  }
}
// .form .input .inputBox input[type="submit"]:hover {
//   background: linear-gradient(315deg, #5d02ff, #e91e63);
// }
.form .input .inputBox input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.521);
  background: linear-gradient(315deg, #e91e6271, #5f02ff8c);
}
.forgot {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  &:hover {
    color: #a64bf4;
  }
}
.forgot a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #666666;
  &:hover {
    color: #a64bf4;
  }
}
.social {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a {
  width: 75%;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 5px 10px;
  background: transparent;
  -webkit-box-shadow: 0px 0px 5px -1px #000000;
  box-shadow: 0px 0px 5px -1px #000000;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}
.social a i {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.social a p {
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 1px;
  color: #333333;
}
.social a:hover {
  //   background: linear-gradient(315deg, #326cd6, #5d02ff);
  > p {
    text-decoration: underline;
  }
}
.social a:hover i {
  //   filter: invert(1);
  text-decoration: none;
}
.social a:active {
  //   background: linear-gradient(315deg, #5d02ff, #e91e63);
}
