@import './component.scss';
.blogs {
    margin-top: 56px;
    margin-bottom: 100px;
    .container {
      .blog__content {
        display: grid;
        grid-template-columns: 74% 23%;
        gap: 3%;
        .blog__content-item {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;
          .item {
            .img {
              display: block;
              position: relative;
              border-radius: 8px;
              height: auto;
              overflow: hidden;
              img {
                float: right;
                height: auto;
                width: 100%;
              }
              .blog__description {
                align-items: center;
                height: 75px;
                width: 100%;
                background-color: rgba(118, 5, 5, 0.2);
                position: absolute;
                bottom: 0;
                padding-left: 14px;
                padding-right: 14px;
                .title {
                  margin-top: 14px;
                  margin-bottom: 10px;
                  h4 {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ffffff;
                  }
                }
                .text {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .day {
                    display: flex;
                    i {
                      display: flex;
                      img{
                        margin: auto;
                      }
                    }
                    p {
                      font-family: 'Inter', sans-serif;
                      font-size: 14px;
                      line-height: 17px;
                      color: #ffffff;
                      margin-left: 8px;
                      margin-bottom: 0 !important;
                    }
                  }
                  .author {
                    display: flex;
                    i {
                      display: flex;
                      margin: 0 5px;
                      img {
                        margin: auto;
                      }
                    }
                    p {
                      color: #ffffff;
                      margin-bottom: 0 !important
                    }
                  }
                }
              }
            }
            .title {
              h3 {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                line-height: 22px;
                color: #141414;
                margin-top: 25px;
                margin-bottom: 14px;
              }
            }
            p {
              font-family: 'Inter', sans-serif;
              font-size: 14px;
              line-height: 17px;
              color: #4d4d4d;
            }
          }
        }
        .blog__content-sidebar {
          .menu__blog {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #141414;
            h2 {
              text-transform: uppercase;
              margin-bottom: 26px;
            }
            .list__option-vuejs {
              .option-vuejs {
                margin-top: 10px;
                border-radius: 8px;
                padding: 10px 10px;
                &.active {
                  background-color: #fff5f5;
                  color: $primary-cl;
                }
              }
            }
          }
          .thumbnail {
            .thumbnail__one {
              margin-top: 38px;
              margin-bottom: 28px;
            }
          }
        }
        .button__number-page {
          display: flex;
          justify-content: center;
          border-radius: 6px;
          .btn__vuejs {
            width: 44px;
            height: 44px;
            background-color: #ffffff;
            display: flex;
            border: 1px solid #e9e9e9;
            i {
              margin: auto;
              color: #bfbfbf;
            }
            &:hover {
              i {
                color: $primary-cl;
              }
            }
          }
          .btn__prev {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          .number-page {
            display: flex;
            .option-vuejs {
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: "roRegular400";
              font-size: 18px;
              &.active {
                background-color: $primary-cl;
                color: #ffffff;
              }
            }
          }
          .btn__next {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }
      }
    }
  }
  
  @media screen and(max-width: 1200px) {
    .blogs .container .blog__content {
      display: grid;
      grid-template-columns: 71% 26%;
      gap: 3%;
    }
  }
  
  @media screen and(max-width: 993px) {
    .blogs .container .blog__content {
      grid-template-columns: 1fr;
    }
    .blogs
      .container
      .blog__content
      .blog__content-sidebar
      .menu__blog
      .list__option-vuejs
      .option-vuejs {
      width: 220px;
    }
    .blogs .container .blog__content .blog__content-sidebar .thumbnail {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .blogs
      .container
      .blog__content
      .blog__content-sidebar
      .thumbnail
      .thumbnail__one {
      margin: 0;
    }
    .input__signup {
      margin-top: 185px;
    }
  }
  
  @media screen and(max-width: 576px) {
    .search .search__input {
      width: 330px;
    }
    .blogs .container .blog__content .blog__content-item {
      grid-template-columns: 1fr;
    }
    .blogs .container .blog__content {
      gap: 50px;
    }
    .input__signup {
      margin-top: 50px;
    }
    .blogs .container .blog__content .blog__content-sidebar .thumbnail {
      flex-direction: column;
    }
    footer {
      padding: 18px 0;
    }
    footer .--container__footer .wrapper__gird {
      gap: 5px;
    }
    .input__signup .container .input__signup-content .input {
      display: block;
    }
    .input__signup .container .input__signup-content .input .input-signup {
      margin-bottom: 16px;
      width: 100%;
    }
  }
  