//======================================================BOXED LAYOUT=======================================================
$container-max-width: 100%;
$container-width: 1230px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================
// colors - tuỳ chỉnh
$white-cl: #ffffff;
$black-cl: #141414;
$primary-cl: #d6192e;
$red-cl: #d81f1f;
$blue-cl: #00afab;

$gradient-cl: linear-gradient(180deg, #df1cff 0%, #814bf6 50.55%, #00bcff 100%);

// timing transition - tuỳ chỉnh
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
  //=========== VÍ DỤ ============//

  // font-size & line-height heading

  --h1-fs: 7.2rem;
  --h1-lh: 8rem;

  --h2-fs: 5.2rem;
  --h2-lh: 6rem;

  --h3-fs: 3.2rem;
  --h3-lh: 4.2rem;

  --h4-fs: 2.4rem;
  --h4-lh: 3.2rem;

  --h5-fs: 2rem;
  --h5-lh: 3rem;

  --body16-fs: 1.6rem;
  --body16-lh: 2.6rem;

  --body14-fs: 1.4rem;
  --body14-lh: 2.2rem;

  // Genaral Variable

  --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

  --height-header: 82px;
  --height-header-mobile: 60px;
  --height-button: 56px;
  --ptop: 150px;
  --pd-section: 120px;

  @media (max-width: $sm-max) {
    // Tablet
  }
  @media (max-width: $xs-max) {
    // Mobile
    --h1-fs: 3.6rem;
    --h1-lh: 4.2rem;

    --h2-fs: 2.8rem;
    --h2-lh: 3.8rem;

    --h3-fs: 2.2rem;
    --h3-lh: 3rem;

    --h4-fs: 2rem;
    --h4-lh: 3.2rem;

    --gap: 20px;

    --height-header: 82px;
    --pd-section: 50px;
    --ptop: 120px;
  }
}

$fm-beM500: "beMedium500";
$fm-beR400: "Be Vietnam Pro", sans-serif;
$fm-roR400: "roRegular400";
$fm-pR400: "pR400";
$fs-44: 44px;
$fs-24: 24px;
$fs-20: 20px;
$fs-14: 14px;
$lh-20: 20px;

.container {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 760px) {
  .container {
    max-width: 710px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 993px) {
  .container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1050px) {
  .container {
    max-width: 1050px;
  }
}

@media screen and (min-width: 1247px) {
  .container {
    max-width: 1210px;
  }
}

// @media screen and(max-width: 1904px) {
//   .container {
//     max-width: 1204px !important;
//   }
//   .price .container .price__content .wrapper__item-slider .price__content-item {
//     width: 290px;
//   }
//   .feedback .--container__feedback .feedback__slider-btn {
//     bottom: 30px;
//   }
//   .blog {
//     margin-bottom: 160px;
//   }
// }
// @media screen and(max-width: 1450px) {
//   .container {
//     max-width: 960px !important;
//   }
// }

// @media screen and(min-width: 1264px) {
//   .container {
//     max-width: 1204px !important;
//   }
// }

@media screen and(max-width: 1199px) {
  // .container {
  //   max-width: 900px !important;
  // }
  .price .container .price__content {
    overflow-x: scroll;
    overflow-y: visible;
    z-index: 2;
  }
}

// @media screen and(max-width: 576px) {
//   .container {
//     max-width: 540px !important;
//   }
// }
// @media screen and(max-width: 1100px) {
//   .container {
//     max-width: 960px !important;
//   }
// }

.VueCarousel-navigation-button {
  width: 44px !important;
  height: 44px !important;
  border-radius: 26px !important;
  background-color: #ffffff !important;
  display: flex !important;
  -webkit-box-shadow: 0px 0px 12px 2px #ccc !important;
  box-shadow: 0px 0px 12px 2px #ccc !important;
  cursor: pointer !important;
  display: flex !important;
  top: 25% !important;
  .i-prev {
    transform: rotate(180deg);
  }
  &:hover {
    i {
      color: $primary-cl !important;
    }
  }
  i {
    margin: auto !important;
  }
}

.VueCarousel-navigation-prev {
  left: 20px !important;
  bottom: 40px !important;
  position: absolute;
}
.VueCarousel-navigation-next {
  right: 20px !important;
}
.VueCarousel-dot {
  overflow: hidden;
  width: 50px !important;
  height: 8px !important;
  border-radius: 11px !important;
  background-color: #e9e9e9 !important;
  opacity: 1 !important;
  margin: 0 5px !important;
  padding: 0 !important;
}
.VueCarousel-dot--active {
  background-color: $primary-cl !important;
}

@media screen and(max-width: 993px) {
  .VueCarousel-navigation-prev {
    left: 30px !important;
  }
  .VueCarousel-navigation-next {
    right: 30px !important;
  }
}

@media screen and(max-width: 767px) {
  .VueCarousel-navigation-prev {
    left: 20px !important;
  }
  .VueCarousel-navigation-next {
    right: 20px !important;
  }
}
